* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #d4d4d2;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template: 100px repeat(5, 65px) / repeat(4, 65px);
  gap: 10px;
  background-color: #1c1c1c;
  padding: 25px 20px;
  border-radius: 35px;
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 54px;
  margin-right: 15px;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background-color: #505050;
}

.number:focus {
  animation: numberColor 0.3s forwards;
}

.operator {
  background-color: #ff9500;
}

.operator:focus {
  background-color: #ffffff;
  color: #ff9500;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.top {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.top:focus {
  animation: topColor 0.3s forwards;
}

.zero {
  grid-column: 1/3;
  border-radius: 70px;
  padding-right: 75px;
}

@keyframes numberColor {
  0% {
    background-color: #505050;
  }
  50% {
    background-color: #868686;
  }
  100% {
    background-color: #505050;
  }
}

@keyframes topColor {
  0% {
    background-color: #d4d4d2;
  }
  50% {
    background-color: #e9e9e9;
  }
  100% {
    background-color: #d4d4d2;
  }
}

@media (max-width: 340px) {
  .calculator {
    grid-template: 80px repeat(5, 55px) / repeat(4, 55px);
  }
  .screen {
    margin-right: 13px;
    font-size: 45px;
  }
  button {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .calculator {
    grid-template: 200px repeat(5, 150px) / repeat(4, 150px);
    gap: 25px;
    padding: 50px 35px;
  }
  .screen {
    margin-right: 45px;
    font-size: 96px;
  }
  button {
    font-size: 48px;
  }
}
